---
http_interactions:
- request:
    method: get
    uri: http://api.walkscore.com/score?format=json&lat=38.898748&lon=-77.037684&wsapikey=valid+key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      accepts:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n\"status\": 1  \n, \"walkscore\": 92\n, \"description\": \"Walker's
        Paradise\"\n, \"updated\": \"2012-06-21 14:53:35.822730\" \n, \"logo_url\":
        \"http://www2.walkscore.com/images/api-logo.gif\"\n, \"more_info_icon\": \"http://www2.walkscore.com/images/api-more-info.gif\"\n,
        \"more_info_link\": \"http://www.walkscore.com/how-it-works.shtml\"\n, \"ws_link\":
        \"http://www.walkscore.com/score/loc/lat=38.898748/lng=-77.037684/?utm_source=squidgravy.1.ai&utm_medium=ws_api&utm_campaign=ws_api\"\n,
        \"snapped_lat\": 38.8980\n, \"snapped_lon\": -77.0370  \n\n\n\n}"
  recorded_at: Thu, 23 Aug 2012 07:16:52 GMT
recorded_with: VCR 2.2.4
